<p id="notice"><%= notice %></p>

<h1>These Are Such Fun Facts!</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Profile image</th>
      <th>Name</th>
      <th>Fun fact</th>
      <th>Class</th>
      <th>Start Date</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= image_tag attachment_url(student, :profile_image, :fill, 100, 100, format: "jpg"), class: "img-thumbnail img-circle img-resposive" %></td>
        <td><%= link_to student.name, student %></td>
        <td><%= student.fun_fact %></td>
        <td>
            <% student.cohorts.each do |cohort| %>
              <%= cohort.name %>
            <% end %>
        </td>
        <td>
          <% student.cohorts.each do |cohort| %>
            <%= cohort.start_date %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
