<div class="container-fluid">
  <div class="row center">
    <col-md-8>
    </col-md-8>
  <col-md-4>
    <% if @student.profile_image.present? %>
      <%= image_tag attachment_url(@student, :profile_image, :fill, 180, 180, format: "jpg"), class: "img-thumbnail img-circle img-resposive" %>
      <h2><%= @student.name %></h2>
    <% else %>
      <%= image_tag "team-member-1.jpg", width: "180", class: "img-thumbnail img-circle img-resposive" %>
      <h2><%= @student.name %></h2>
    <% end %>
    <h3>Fun Fact</h3>
    <%= @student.fun_fact %>
    <h3>Cohort</h3>
    <% @student.cohorts.each do |cohort| %>
      <%= cohort.name %>
    <% end %>
  </col-md-4>
  <col-md-8>
  </col-md-8>
  <h2>You have successfully fun facted!</h2>
  <%= image_tag "https://media.giphy.com/media/IVaQnL70LKss8/giphy.gif" %>
  </div>
</div>
